In [12]:
from pathlib import Path
from tqdm import tqdm
import pandas as pd

In [17]:
def count_atom(pocket_path):
    count = 0
    with open(pocket_path, "r", encoding="utf-8", errors="ignore") as f:
        for line in f:
            if line.startswith(("ATOM", "HETATM")):  # 只统计原子记录
                count += 1
    return count

root_dir = Path("/home/qianyouqiao/sc_complexes/")
df = pd.DataFrame(columns=['pdb_id', 'num_atoms'])
for pocket_path in tqdm(root_dir.rglob('*_pocket_removeH.pdb')):
    pdb_code = pocket_path.stem[:4]
    num_atom = count_atom(pocket_path)
    df.loc[len(df)] = [pdb_code, num_atom]

11917it [00:09, 1194.62it/s]

In [21]:
df.describe()

          num_atoms
count  11917.000000
mean     631.378115
std      165.478135
min        9.000000
25%      528.000000
50%      625.000000
75%      726.000000
max     1564.000000

In [11]:
df

   pdb_id num_atoms  111
0       1       NaN  NaN
1       2       NaN  NaN
2       3       NaN  NaN
3       4       NaN  NaN